@using InfinityCinema.Common

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@(String.IsNullOrEmpty(this.ViewData["Title"].ToString()) ? String.Empty : $"{this.ViewData["Title"]} - ") Infinity Cinema</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/virtual-select.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.0/css/all.css" integrity="sha384-aOkxzJ5uQz7WBObEZcHvV5JvRW3TUc2rNPA7pe3AwnsUohiw1Vj2Rgx2KSOkF5+h" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/lazy.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body style="background-color: aliceblue;">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img class="navbar-brand d-flex align-items-center" src="https://cdn-icons-png.flaticon.com/512/4987/4987504.png" width=50 height=50 /></a>
            @*<button type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNav"
                    class="navbar-toggler"
                    aria-controls="navbarNav"
                    aria-explained="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon" style="border:0px"></span>
            </button>*@
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown-1" aria-controls="navbarNavDropdown-1"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-center" id="navbarNavDropdown-1">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" asp-controller="Movies" asp-action="All">
                            All
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Genres" asp-action="All">Genres</a>
                    </li>
                </ul>
            </div>
            <form class="d-flex form-inline my-2 my-lg-0">
                <input type="search" class="form-control me-2" placeholder="Search Movie" aria-label="Search">
                <button type="submit" class="btn btn-primary"><img src="https://cdn-icons-png.flaticon.com/512/251/251116.png" width=20 height=20 /></button>
            </form>
            <div> &nbsp&nbsp&nbsp&nbsp&nbsp </div>
            <div class="text-light">
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>

    <div>
        <main>
            <partial name="_CookieConsentPartial" />
            @this.RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - @GlobalConstants.SystemName - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="./lib/popper/popper.min.js"></script>
    <script src="./js/lazy.js"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    <script src="~/js/virtual-select.min.js" asp-append-version="true"></script>
    <script src="~/js/owl.carousel.min.js"></script>

    @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>
