@model MovieStatisticsViewModel

@{
    this.ViewData["Title"] = "Admin dashboard";
}

<h1>@this.ViewData["Title"]</h1>

<div class="jumbotron">
    <div classclass="row">
        <span class="badge badge-warning offset-1 col-2">Movies: @Model.TotalMovies</span>
        <span class="badge badge-warning offset-2 col-2">Genres: @Model.TotalGenres</span>
        <span class="badge badge-warning offset-2 col-2">Users: @Model.TotalUsers</span>
    </div>
    <hr class="my-4">
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
</div>
