@model SettingsListViewModel

@{
    this.ViewData["Title"] = "Settings";
}

<div class="mt-5"></div>

<center><h1>Random @this.ViewData["Title"] Page for Fun </h1></center>

<div class="mb-5"></div>

<center>
    @foreach (var setting in this.Model.Settings)
    {
        <div>@setting.Id: @setting.NameAndValue</div>
    }

    <div class="mt-4"></div>

    <a asp-action="InsertSetting" class="btn btn-warning">Insert new</a>
</center>

<div class="mb-5"></div>
