@{
    this.ViewData["Title"] = "Privacy Policy of Infinity Cinema";
}

<div class="mt-5"></div>

<center>
    <h1>@this.ViewData["Title"]</h1>
</center>

<hr>

<div class="mt-5"></div>

<h4>• How we use your information</h4>
<h6>&nbsp;&nbsp;&nbsp;-&nbsp;We use the information we collect in various ways, including to:</h6>
<h6>&nbsp;&nbsp;&nbsp;-&nbsp;Provide, operate, and maintain our website</h6>
<h6>&nbsp;&nbsp;&nbsp;-&nbsp;Improve, personalize, and expand our website</h6>
<h6>&nbsp;&nbsp;&nbsp;-&nbsp;Understand and analyze how you use our website</h6>
<h6>&nbsp;&nbsp;&nbsp;-&nbsp;Develop new products, services, features, and functionality</h6>
<h6>&nbsp;&nbsp;&nbsp;-&nbsp;Communicate with you, either directly or through one of our partners, including for customer service, to provide you with updates and other information relating to the website, and for marketing and promotional purposes</h6>
<h6>&nbsp;&nbsp;&nbsp;-&nbsp;Send you emails</h6>

<div class="mb-4"></div>


<h4>• Cookies and Web Beacons</h4>
<h6>
    &nbsp;&nbsp;&nbsp;-&nbsp;Like any other website, Infinity Cinema uses 'cookies'. These cookies are used to store information including visitors' preferences, and the pages on the website that the visitor accessed or visited. The information is used to optimize the users' experience by customizing our web page content based on visitors' browser type and/or other information.
</h6>
