@model EditMovieServiceModel

@{
    ViewData["Title"] = "Edit Movie";
}

<div class="image-fliud" style="background-image: url(https://images.pexels.com/photos/3945321/pexels-photo-3945321.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);">
    <div>
        <div class="float-end">
            <a class="btn btn-danger float-end" style="width:50% height:3px" asp-area="" asp-controller="Home" asp-action="Index">x</a>
        </div>
        <br />
        <h2 class="heading-margin text-center" style="">@ViewBag.Title</h2>

        <div class="row">
            <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
                <form method="post" class="fw-bold">
                    <div id="form-container">
                        <div id="overall-movie-form-information-container">
                            <partial name="_OverallMovieFormPartial" model="@Model.OverallMovieInformation" />
                            <div class="mb-4"></div>
                            <div class="row">
                                <input id="images-btn" type="submit" value="Edit Images" class="btn btn-primary offset-2 col-2" />
                                <input id="actors-btn" type="submit" value="Edit Actors" class="btn btn-primary offset-1 col-2" />
                                <input id="platforms-btn" type="submit" value="Edit Platforms" class="btn btn-primary offset-1 col-2" />
                            </div>
                        </div>

                        <div id="images-form-model" class="d-none">
                        </div>
                        <div id="actors-form-model" class="d-none">
                        </div>
                        <div id="platforms-form-model" class="d-none">
                        </div>

                        <input class="offset-6 col-3 btn btn-primary rounded-pill text-center mt-5 mb-4 d-grid gap-2 col-3 mx-auto" type="submit" value="Edit" id="edit-btn" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="js/adding-images-actors-platforms.js"></script>
}